@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;500;600;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

:root {
  --white-text: #fff;
  --dark-text: #000;
  --sky-blue: rgba(135, 207, 235, 0.925);
  --safety-color: #A9A19E;
  --max-width-image: 30.1875rem;
  --soft-sky-blue: #C7DDEA;
  --default-background: #E5E5E5;
  --orange: #F17949;
  --yellow: #FAB131;
  --grey: rgba(0, 0, 0, 0.4);
  --dark-grey: rgba(0, 0, 0, 0.7);
  --light-grey: #777574;
  --lighter-grey: #A9A19E;
  --animation-speed: 200ms;
  
}

body {
  background: var(--default-background);
  font-family: 'Frank Ruhl Libre', serif;
}

/* Mobile first */

.main-container {
  width: 100%;
  min-height: 100vh;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #000000;
}

.block-title.large {
  font-size: 2.8125rem;
  font-weight: 900;
  line-height: 1;
}

.block-title.medium {
  font-size: 2.5625rem;
  font-weight: 900;
}

.block-title.xsmall {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
}

.block-title.small {
  font-size: 1rem;
  font-weight: bold;
}

.block-text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.block-text.xsmall {
  font-size: 0.6875rem;
}


.block-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.block-text.special {
  font-size: 1.0625rem;
}

.white-text {
  color: var(--white-text);
}

.dark-text {
  color: var(--dark-text);
}

.grey-text {
  color: var(--grey);
}

.dark-grey-text {
  color: var(--dark-grey);
}

.btn {
 
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 6.3125rem;
  height: 1.875rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.6875rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 0.05rem solid var(--sky-blue);
  padding: 1rem;
}

.btn.btn-white {
  color: var(--dark-text);
  background: var(--white-text);
  justify-self: center;
}

a {
  font-family: 'Fira Sans', sans-serif;
  color: var(--white-text);
  text-decoration: none;
}

a.back-up {
  font-size: 1.0625rem;
  font-weight: 500;
}

a.active {
  color: var(--dark-text);
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  max-width: 105rem;
  width: 100%;
  height: 100%;
}

.block-number {
  font-size: 2.1875rem;
  font-weight: 900;
}

ul,
li {
  list-style: none;
}

@media(min-width: 1920px) {
  .grid-3-special {
    grid-template-columns: 50%;
  }
}